{% extends 'main.html' %}
{% block head %}
    <meta name="viewport" content="initial-scale=1.0,
    width=device-width"/>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js"
            type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}
    <div style="width: 100%; height: 900px;" id="mapContainer"></div>
{% endblock %}
{% block javascript %}
<script>
var platform = new H.service.Platform({
  'app_id': 'lwLjtkhzR98eUIXpnCAi',
  'app_code': 'iCCI35sfr1pi9OfmG_MnhQ'
});
var defaultLayers = platform.createDefaultLayers();

// Instantiate (and display) a map object:
var map = new H.Map(
  document.getElementById('mapContainer'),
  defaultLayers.normal.map,
  {
    zoom: 10,
    center: { lat: 52.5, lng: 13.4 }
  });

</script>
{% endblock %}